@media screen and (min-width: 768px) {
  section.contact-us {
    > .contact-header {
      > h2 {
        //font-size: $heading-size-tablet;
      }
    }
    > .contact-content {
      flex-direction: row;
      padding: 0 50px;
      > .contact-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        > .contact-txt {
          > .contact-info {
            > div:nth-of-type(2) {
              > h5 {
                //font-size: $heading-size-tablet;
              }
              > p {
                //font-size: $paragraph-size-tablet;
              }
            }
          }
        }
      }
    }
  }
}
