@media screen and (min-width: $desktop) {
  #component-3 {
    padding-left: 80px;
    padding-right: 80px;
    > div:nth-child(1) {
      justify-content: space-around;
      > p {
        width: 72%;
        line-height: 30px;
      }
    }
    > div:nth-child(2) {
      height: 370px;
    }
  }
}
