.component-3 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  > h1 {
    color: $nav-links;
    margin-top: 100px;
  }
  > p {
    font-size: 13px;
    text-align: start;
    text-indent: 10px;
  }
  > .images {
    width: 100%;
    height: 34%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
}
.component-4 {
  width: 100%;
  height: 100vh;
  background-color: green;
}
.side {
  height: 80%;
  margin-top: auto;
}
