.component-3 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  > h1 {
    color: $nav-links;
    margin-top: 100px;
  }
  > p {
    font-size: 12px;
    text-align: justify;
    text-indent: 10px;
  }
  > .images {
    width: 100%;
    height: 30%;
    background-color: red;
  }
}
.component-4 {
  width: 100%;
  height: 100vh;
  background-color: green;
}
