.component-3 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  > h1 {
    color: $nav-links;
  }
  > p {
    text-align: center;
  }
}
