.component-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  > .change-language {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .main-section-img {
    > img:nth-child(1) {
      max-width: 100%;
      width: 480px;
    }
    > img:nth-child(2) {
      display: none;
    }
  }
  .main-section-txt {
    display: none;
  }
}
