.component-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  > .main-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    > img {
      max-width: 100%;
    }
  }
}
