@media screen and (min-width: $desktop) {
  #main.component-2 {
    padding-left: 80px;
    padding-right: 80px;
    > .main-section-img {
      display: flex;
      justify-self: center;
      align-items: center;
      width: 100%;
      > img:nth-child(2) {
        display: block;
        width: 80%;
        max-width: 900px;
      }
      > img:nth-child(1) {
        display: none;
      }
    }
    > .main-section-txt {
      > p {
        line-height: 30px;
      }
    }
  }
}
@media screen and (min-width: $desktop-large) {
  #main.component-2.main {
    padding-left: 12%;
    padding-right: 12%;
    > .main-section-txt {
      > p {
        font-size: 22px;
      }
      > h1 {
        font-size: 32px;
      }
    }
  }
}
