@media screen and (min-width: $tablet) {
  #main {
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    > .custom-toggle {
      top: -40px;
      right: 60px;
    }
    > .main-section-img {
      width: 50%;
    }
    > .main-section-txt {
      gap: 20px;
      width: 50%;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      > .heading-image {
        width: 100%;
        display: flex;
        justify-content: center;
        > img {
          max-width: 100%;
        }
      }
      > h1 {
        font-size: 28px;
        text-align: center;
        color: $nav-links;
      }
      > p {
        font-size: 18px;
        width: 110%;
        text-align: center;
      }
    }
  }
}
