@media screen and (min-width: $desktop) {
  #nav {
    height: 125px;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    .logo {
      .logo-img {
        margin-top: 41px;
        width: 85px;
      }
    }
    > .links {
      gap: 38px;
      margin-left: -62px;
      > a {
        font-size: 17px;
        margin-top: 10px;
      }
    }
  }
}
@media screen and (min-width: $desktop-large) {
  #nav {
    a {
      font-size: 22px;
    }
  }
}
