@media screen and (min-width: $tablet) {
  nav.nav {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    border-radius: 0;
    > .links {
      display: none;
    }
    > button {
      display: none;
    }
    > .desktop-nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .desktop-logo {
        width: 50px;

        > img {
          max-width: 100%;
        }
      }
      > .desktop-links {
        display: flex;
        gap: 20px;
        > a {
          color: $nav-links;
          text-decoration: none;
          font-size: 18px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: $nav-links;
            transition: all 0.3s ease;
            transform: translateX(-50%);
          }

          &:hover::before {
            width: 50%;
          }
        }
      }
      > .language-changer-desktop {
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > .toggle {
          position: absolute;
          width: 60px;
          height: 34px;
          > input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;
          }
          label {
            background-color: #fff;
            border-radius: 34px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 34px;
            &::before {
              background-color: red;
              border-radius: 50%;
              content: "";
              height: 26px;
              left: 4px;
              position: absolute;
              top: 4px;
              width: 26px;
              transform: translateX(0);
              transition: transform 0.3s ease, background-color 0.3s ease;
            }
          }
          input:checked + label {
            background-color: #2196f3;
          }
          input:checked + label:before {
            background-color: #66bb6a; /* Green ball after clicking */
            transform: translateX(26px);
          }
        }
      }
    }
  }
}
