body.no-scroll {
  overflow: hidden;
}
#preloader {
  background-color: $preloader-bg;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
}
#preloader.fade-out {
  animation: fade-out 1s ease-out forwards;
}
.line {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  path:nth-child(1) {
    stroke-dasharray: 18924px;
    stroke-dashoffset: 18924px;
    animation: line-anim 20s ease forwards;
  }
}
#sazano_wine_loading_fill {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  path:nth-child(1) {
    stroke-dasharray: 18924px;
    stroke-dashoffset: 18924px;
    animation: fade-in 2s ease forwards;
    opacity: 0;
    animation-delay: calc(var(--order) * 1300ms);
  }
}
