nav {
  width: 100%;
  height: 70px;
  z-index: 100;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  > .desktop-nav {
    display: none;
  }
  > .links {
    margin-top: 14px;
    margin-bottom: 7px;
    display: none;
    gap: 8px;
    transition: display 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    .hidden {
      display: none;
      opacity: 0;
    }
    > a {
      text-decoration: none;
      color: $white;
      font-size: 11px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: $white;
        transition: all 0.3s ease;
        transform: translateX(-50%);
      }

      &:hover::before {
        width: 50%;
      }
    }
  }
  > button {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    width: 70px;
    height: 70px;
    padding-top: 33px;
    margin-top: -35px;
    background-color: $nav-links;
    transition: margin-top 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}
