@media screen and (min-width: $desktop) {
  #winery {
    padding-left: 80px;
    padding-right: 80px;
    > div:nth-child(1) {
      justify-content: center;
      gap: 40px;
      > p {
        width: 72%;
        line-height: 40px;
      }
    }
    > div:nth-child(2) {
      height: 370px;
      margin-bottom: auto;
    }
  }
}
@media screen and (min-width: $desktop-large) {
  #winery.component-3 {
    padding-left: 12%;
    padding-right: 12%;
    > div:first-child {
      gap: 90px;
      > h1 {
        font-size: 32px;
      }
      > p {
        font-size: 22px;
      }
    }
    > div:nth-child(2) {
      height: 460px;
      margin-bottom: auto;
    }
  }
}
