@font-face {
  font-family: boxo;
  src: url(./fonts/bpg_boxo.ttf);
}
@font-face {
  font-family: le studio;
  src: url(./fonts/bpg_le_studio_02_caps.ttf);
}
@font-face {
  font-family: castellar;
  src: url(./fonts/CASTELAR.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(./fonts/Helvetica.ttf);
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxo {
  font-family: boxo;
}
.le-studio {
  font-family: le studio;
}
.castellar {
  font-family: castellar;
}
.helvetica {
  font-family: helvetica;
}
body {
  background-color: $preloader-bg;
}
.content-container {
  height: 100vh;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
