* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: boxo;
  src: url(./fonts/bpg_boxo.ttf);
}
@font-face {
  font-family: le studio;
  src: url(./fonts/bpg_le_studio_02_caps.ttf);
}
@font-face {
  font-family: castellar;
  src: url(./fonts/CASTELAR.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(./fonts/Helvetica.ttf);
}
.flex {
  display: flex;
}

.none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxo {
  font-family: boxo;
}

.le-studio {
  font-family: le studio;
}

.castellar {
  font-family: castellar;
}

.helvetica {
  font-family: helvetica;
}

body {
  background-color: #f5e6ee;
}

.content-container {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

nav {
  width: 100%;
  height: 70px;
  z-index: 100;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
nav > .links {
  margin-top: 14px;
  margin-bottom: 7px;
  display: none;
  gap: 8px;
  transition: display 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}
nav > .links .hidden {
  display: none;
  opacity: 0;
}
nav > .links > a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  position: relative;
}
nav > .links > a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
nav > .links > a:hover::before {
  width: 50%;
}
nav > button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 70px;
  height: 70px;
  padding-top: 33px;
  margin-top: -35px;
  background-color: #4c0027;
  transition: margin-top 0.5s ease-in-out;
}
nav > button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  #component-2 {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (min-width: 1920px) {
  #component-2.component-2 {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 50px;
  }
  #component-2.component-2 > p {
    font-size: 20px;
  }
  #component-2.component-2 > h1 {
    font-size: 30px;
  }
}
.component-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  width: 100%;
  margin-bottom: 30px;
}
.component-2 > h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #4c0027;
}
.component-2 > p {
  text-indent: 20px;
}

@media screen and (min-width: 768px) {
  .hotel-description.component-2 {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  #component-3 {
    padding-left: 8%;
    padding-right: 8%;
  }
  #component-3 > .room-card {
    width: 30%;
    max-width: 380px;
  }
  #component-3 > .modal {
    max-width: 900px;
  }
  #component-3 > .modal > .carousel-section {
    height: 600px;
  }
  #component-3 > .modal > .carousel-section > .carousel {
    height: 100%;
  }
}
@media screen and (min-width: 1920px) {
  #component-3.component-3 {
    padding-left: 20%;
    padding-right: 20%;
  }
  #component-3.component-3 > .modal {
    max-width: 1100px;
  }
}
.component-3 {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.component-3 > div:last-of-type {
  margin-bottom: 20px;
}
.component-3 > .room-card {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  overflow: hidden;
}
.component-3 > .room-card > div:nth-child(1) {
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.component-3 > .room-card > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.component-3 > .room-card > div:nth-child(2) {
  width: 100%;
  height: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}
.component-3 > .room-card > div:nth-child(2) > h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #4c0027;
}
.component-3 > .room-card > div:nth-child(2) > button {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: #4c0027;
  color: white;
  font-size: 20px;
}
.component-3 > .room-card > div:nth-child(2) > button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
.component-3 #overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}
.component-3 .modal {
  overflow-y: auto;
  max-height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 95%;
  padding: 20px;
  z-index: 200;
}
.component-3 .modal > div:nth-of-type(1) {
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
}
.component-3 .modal > div:nth-of-type(1) > div {
  position: absolute;
  top: 25px;
  right: 20px;
}
.component-3 .modal > div:nth-of-type(1) > div:hover {
  cursor: pointer;
}
.component-3 .modal .line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 0 auto;
}
.component-3 .modal .carousel-section {
  margin-bottom: 20px;
}
.component-3 .modal .carousel-section > .carousel {
  width: 100%;
  height: 270px;
  position: relative;
}
.component-3 .modal .carousel-section > .carousel > .prev {
  left: 0;
}
.component-3 .modal .carousel-section > .carousel > .next {
  right: 0;
}
.component-3 .modal .carousel-section > .carousel > .carousel-button {
  display: flex;
  align-items: center;
  height: 55px;
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.component-3 .modal .carousel-section > .carousel > .carousel-button:hover, .component-3 .modal .carousel-section > .carousel > .carousel-button:focus {
  color: white;
}
.component-3 .modal .carousel-section > .carousel > .carousel-button:focus {
  outline: none;
}
.component-3 .modal .carousel-section > .carousel > .carousel-button > img {
  width: 45px;
}
.component-3 .modal .carousel-section > .carousel .room-img {
  margin-top: 15px;
  width: 100%;
}
.component-3 .modal .carousel-section > .carousel .room-img > .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  list-style: none;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.component-3 .modal .carousel-section > .carousel .room-img > .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.component-3 .modal .carousel-section > .carousel .room-img > .slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 768px) {
  .component-3.rooms-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
  }
  .component-3.rooms-flex > .room-card {
    width: 45%;
    max-width: 350px;
  }
  .component-3.rooms-flex > .modal {
    width: 80%;
    max-width: 620px;
  }
  .component-3.rooms-flex > .modal > .carousel-section {
    height: 350px;
  }
  .component-3.rooms-flex > .modal > .carousel-section > .carousel {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  #footer .footer-top > p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  #footer.footer .footer-top > p {
    font-size: 16px;
  }
  #footer.footer .footer-top > .footer-title {
    margin-bottom: 15px;
  }
  #footer.footer .footer-top > .footer-title > .footer-logo {
    width: 90px;
    height: auto;
  }
}
footer {
  width: 100%;
  background-color: #4c0027;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
}
footer > .footer-top {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer > .footer-top > .footer-title {
  flex-direction: column;
  align-items: center;
}
footer > .footer-top > .footer-title > .footer-logo {
  width: 65px;
  margin-bottom: 15px;
  height: 62px;
}
footer > .footer-top > .footer-title > h6 {
  text-align: center;
  font-size: 18px;
  color: #8c6b7c;
  margin-bottom: 15px;
}
footer > .footer-top > .footer-title:hover {
  cursor: default;
}
footer > .footer-top > .footer-title:hover > h6 {
  color: white;
  transition: 0.4s;
}
footer > .footer-top > .footer-title:hover > .footer-logo > path {
  fill: white;
  transition: 0.4s;
}
footer > .footer-top > p {
  font-size: 10px;
  color: #8c6b7c;
  text-align: center;
  margin-bottom: 10px;
}
footer > .footer-top > p:last-of-type {
  margin-bottom: 15px;
}
footer .line {
  width: 100%;
  height: 1px;
  background-color: #8c6b7c;
  margin-bottom: 15px;
}
footer ul {
  gap: 20px;
  align-items: center;
  margin-top: 5px;
}
footer ul > a > li {
  list-style-type: none;
}
footer ul > a > li svg {
  width: 29px;
}
footer ul > a > li svg:first-of-type {
  height: 22px;
}
footer ul > a:hover path {
  fill: white;
  transition: 0.4s;
}
footer ul > a:last-of-type:hover #booking-path {
  fill: white;
  transition: 0.4s;
}
footer ul > a:last-of-type:hover .transparent {
  fill: #4c0027;
}

@media screen and (min-width: 768px) {
  .footer .footer-top > p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=rooms.css.map */
