* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: boxo;
  src: url(./fonts/bpg_boxo.ttf);
}
@font-face {
  font-family: le studio;
  src: url(./fonts/bpg_le_studio_02_caps.ttf);
}
.flex {
  display: flex;
}

.none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxo {
  font-family: boxo;
}

.le-studio {
  font-family: le studio;
}

body {
  background-color: #f5e6ee;
}

.content-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.content-container > section {
  scroll-snap-align: start;
}

.relative {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .line {
    width: 30%;
  }
  #sazano_wine_loading_fill {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  #sazano_wine_loading_fill {
    width: 60%;
  }
  .line {
    width: 60%;
  }
}
body.no-scroll {
  overflow: hidden;
}

#preloader {
  background-color: #f5e6ee;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
}

#preloader.fade-out {
  animation: fade-out 1s ease-out forwards;
}

.line {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line path:nth-child(1) {
  stroke-dasharray: 18924px;
  stroke-dashoffset: 18924px;
  animation: line-anim 20s ease forwards;
}

#sazano_wine_loading_fill {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sazano_wine_loading_fill path:nth-child(1) {
  stroke-dasharray: 18924px;
  stroke-dashoffset: 18924px;
  animation: fade-in 2s ease forwards;
  opacity: 0;
  animation-delay: calc(var(--order) * 1300ms);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .line {
    width: 55%;
  }
  #sazano_wine_loading_fill {
    width: 55%;
  }
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav {
  width: 100%;
  height: 70px;
  z-index: 999;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
nav > .links {
  margin-top: 14px;
  margin-bottom: 7px;
  display: none;
  gap: 8px;
  transition: display 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}
nav > .links .hidden {
  display: none;
  opacity: 0;
}
nav > .links > a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  position: relative;
}
nav > .links > a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
nav > .links > a:hover::before {
  width: 50%;
}
nav > button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 70px;
  height: 70px;
  padding-top: 33px;
  margin-top: -35px;
  background-color: #4c0027;
  transition: margin-top 0.5s ease-in-out;
}
nav > button:hover {
  cursor: pointer;
}

.component-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.component-2 > .main-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.component-2 > .main-heading > img {
  max-width: 100%;
}
.component-2 > img {
  width: 100px;
}

.component-3 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.component-3 > h1 {
  color: #4c0027;
  margin-top: 100px;
}
.component-3 > p {
  font-size: 13px;
  text-align: start;
  text-indent: 10px;
}
.component-3 > p a {
  text-decoration: none;
  color: #4c0027;
}
.component-3 > .images {
  width: 70%;
  height: 30%;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.component-4 {
  width: 100%;
  height: 100vh;
  background-color: green;
}

.side {
  height: 80%;
  margin-top: auto;
}

/*# sourceMappingURL=styles.css.map */
