* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: boxo;
  src: url(./fonts/bpg_boxo.ttf);
}
@font-face {
  font-family: le studio;
  src: url(./fonts/bpg_le_studio_02_caps.ttf);
}
@font-face {
  font-family: castellar;
  src: url(./fonts/CASTELAR.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(./fonts/Helvetica.ttf);
}
.flex {
  display: flex;
}

.none {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxo {
  font-family: boxo;
}

.le-studio {
  font-family: le studio;
}

.castellar {
  font-family: castellar;
}

.helvetica {
  font-family: helvetica;
}

body {
  background-color: #f5e6ee;
}

.content-container {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .line {
    width: 30%;
  }
  #sazano_wine_loading_fill {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  #sazano_wine_loading_fill {
    width: 60%;
  }
  .line {
    width: 60%;
  }
}
body.no-scroll {
  overflow: hidden;
}

#preloader {
  background-color: #f5e6ee;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
}

#preloader.fade-out {
  animation: fade-out 1s ease-out forwards;
}

.line {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line path:nth-child(1) {
  stroke-dasharray: 18924px;
  stroke-dashoffset: 18924px;
  animation: line-anim 20s ease forwards;
}

#sazano_wine_loading_fill {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sazano_wine_loading_fill path:nth-child(1) {
  stroke-dasharray: 18924px;
  stroke-dashoffset: 18924px;
  animation: fade-in 2s ease forwards;
  opacity: 0;
  animation-delay: calc(var(--order) * 1300ms);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .line {
    width: 55%;
  }
  #sazano_wine_loading_fill {
    width: 55%;
  }
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav {
  width: 100%;
  height: 70px;
  z-index: 10;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
nav .desktop-nav {
  display: none;
}
nav > .links {
  margin-top: 14px;
  margin-bottom: 7px;
  display: none;
  gap: 8px;
  transition: display 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}
nav > .links .hidden {
  display: none;
  opacity: 0;
}
nav > .links > a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  position: relative;
}
nav > .links > a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
nav > .links > a:hover::before {
  width: 50%;
}
nav > button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 70px;
  height: 70px;
  padding-top: 33px;
  margin-top: -35px;
  background-color: #4c0027;
  transition: margin-top 0.5s ease-in-out;
}
nav > button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  nav.nav {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    border-radius: 0;
  }
  nav.nav > .links {
    display: none;
  }
  nav.nav > button {
    display: none;
  }
  nav.nav > .desktop-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav.nav > .desktop-nav > .desktop-logo {
    width: 50px;
  }
  nav.nav > .desktop-nav > .desktop-logo > img {
    max-width: 100%;
  }
  nav.nav > .desktop-nav > .desktop-links {
    display: flex;
    gap: 20px;
  }
  nav.nav > .desktop-nav > .desktop-links > a {
    color: #4c0027;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav.nav > .desktop-nav > .desktop-links > a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #4c0027;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  nav.nav > .desktop-nav > .desktop-links > a:hover::before {
    width: 50%;
  }
  nav.nav > .desktop-nav > .language-changer-desktop {
    width: 70px;
    height: 100%;
    background-color: red;
  }
}
@media screen and (min-width: 1024px) {
  #main.component-2 {
    padding-left: 80px;
    padding-right: 80px;
  }
  #main.component-2 > .main-section-img {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
  }
  #main.component-2 > .main-section-img > img:nth-child(2) {
    display: block;
    width: 80%;
    max-width: 900px;
  }
  #main.component-2 > .main-section-img > img:nth-child(1) {
    display: none;
  }
  #main.component-2 > .main-section-txt > p {
    line-height: 30px;
  }
}
@media screen and (min-width: 1920px) {
  #main.component-2.main {
    padding-left: 12%;
    padding-right: 12%;
  }
  #main.component-2.main > .main-section-txt > p {
    font-size: 22px;
  }
  #main.component-2.main > .main-section-txt > h1 {
    font-size: 32px;
  }
}
.component-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.component-2 > .change-language {
  position: absolute;
  right: 20px;
  top: 20px;
}
.component-2 .main-section-img > img:nth-child(1) {
  max-width: 100%;
  width: 480px;
}
.component-2 .main-section-img > img:nth-child(2) {
  display: none;
}
.component-2 .main-section-txt {
  display: none;
}

@media screen and (min-width: 768px) {
  #main {
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
  }
  #main > .main-section-img {
    width: 50%;
  }
  #main > .main-section-txt {
    display: block;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #main > .main-section-txt > .heading-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #main > .main-section-txt > .heading-image > img {
    max-width: 100%;
  }
  #main > .main-section-txt > h1 {
    font-size: 28px;
    text-align: center;
    color: #4c0027;
  }
  #main > .main-section-txt > p {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  #component-3 {
    padding-left: 80px;
    padding-right: 80px;
  }
  #component-3 > div:nth-child(1) {
    justify-content: center;
    gap: 40px;
  }
  #component-3 > div:nth-child(1) > p {
    width: 72%;
    line-height: 40px;
  }
  #component-3 > div:nth-child(2) {
    height: 370px;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1920px) {
  #component-3.component-3 {
    padding-left: 12%;
    padding-right: 12%;
  }
  #component-3.component-3 > div:first-child {
    gap: 90px;
  }
  #component-3.component-3 > div:first-child > h1 {
    font-size: 32px;
  }
  #component-3.component-3 > div:first-child > p {
    font-size: 22px;
  }
  #component-3.component-3 > div:nth-child(2) {
    height: 460px;
    margin-bottom: auto;
  }
}
.component-3 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: -70px;
}
.component-3 .winery-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 56%;
}
.component-3 .winery-content > h1 {
  color: #4c0027;
  height: 23px;
}
.component-3 .winery-content > p {
  font-size: 14px;
  text-align: start;
  text-indent: 10px;
}
.component-3 .winery-content > p a {
  color: #4c0027;
}
.component-3 > .images {
  width: 70%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.side {
  height: 80%;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .component-3.wine.flex {
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
  }
  .component-3.wine.flex > .winery-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 90%;
  }
  .component-3.wine.flex > .winery-content > h1 {
    font-size: 28px;
    width: 100%;
  }
  .component-3.wine.flex > .winery-content > p {
    width: 70%;
    font-size: 18px;
    line-height: 24px;
  }
  .component-3.wine.flex > .images {
    height: 240px;
    margin-top: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .component-4.hotel {
    height: 115vh;
  }
  .component-4.hotel > .carousel-section {
    height: 100%;
  }
}
@media screen and (min-width: 1920px) {
  #hotel {
    height: 100vh;
  }
  #hotel > h1 {
    font-size: 32px;
  }
}
.component-4 {
  width: 100%;
  padding-top: 80px;
  height: 100vh;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -70px;
}
.component-4 > h1 {
  color: #4c0027;
  margin-bottom: 30px;
}
.component-4 > a {
  margin-top: 50px;
}
.component-4 > a > button {
  width: 230px;
  font-size: 14px;
  height: 50px;
  background-color: #4c0027;
  border: none;
  color: white;
  border-radius: 10px;
}
.component-4 > a > button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
.component-4 .carousel-section {
  display: flex;
  width: 100%;
  height: 400px;
}
.component-4 .carousel-section > .carousel {
  width: 100%;
  height: 100%;
  position: relative;
}
.component-4 .carousel-section > .carousel .room-img {
  margin-top: 15px;
  width: 100%;
}
.component-4 .carousel-section > .carousel .room-img > .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  list-style: none;
  transition: 400ms opacity ease-in-out;
  transition-delay: 400ms;
}
.component-4 .carousel-section > .carousel .room-img > .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.component-4 .carousel-section > .carousel .room-img > .slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

@media screen and (min-width: 768px) {
  .carousel-container {
    display: none;
  }
  .component-4.hotel > h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  #restaurant.restaurant.component-5 > .restaurant-content .restaurant-description > p {
    line-height: 30px;
  }
}
@media screen and (min-width: 1920px) {
  #restaurant.restaurant.component-5.flex {
    padding-right: 12%;
    padding-left: 12%;
    margin-bottom: 100px;
  }
  #restaurant.restaurant.component-5.flex > h1 {
    font-size: 32px;
  }
  #restaurant.restaurant.component-5.flex > .restaurant-content > .restaurant-description > p {
    font-size: 22px;
    line-height: 40px;
    padding-left: 130px;
    padding-right: 0;
  }
  #restaurant.restaurant.component-5.flex > .restaurant-content > .restaurant-img {
    display: flex;
    justify-content: center;
  }
  #restaurant.restaurant.component-5.flex > .restaurant-content > .restaurant-img > img:nth-child(1) {
    display: none;
  }
  #restaurant.restaurant.component-5.flex > .restaurant-content > .restaurant-img > img:nth-child(2) {
    display: block;
    max-height: 450px;
  }
}
.component-5 {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 110px;
  margin-top: -70px;
}
.component-5 > h1 {
  color: #4c0027;
}
.component-5 > .restaurant-content > .restaurant-img {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.component-5 > .restaurant-content > .restaurant-img > img {
  max-width: 100%;
  max-height: 350px;
}
.component-5 > .restaurant-content .restaurant-description > p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.component-5 > .restaurant-content .restaurant-description > p > span {
  font-weight: bold;
  color: #4c0027;
  text-decoration: underline;
  cursor: pointer;
}
.component-5 .modal {
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 30;
  background-color: white;
  width: 80%;
  height: 80%;
}
.component-5 .modal > .menu-pics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-5 .modal > .menu-pics > img {
  max-width: 100%;
}
.component-5 .modal > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
}
.component-5 .modal > div:nth-of-type(1) > div {
  position: absolute;
  top: 10px;
  right: 10px;
}
.component-5 .modal > div:nth-of-type(1) > div:hover {
  cursor: pointer;
}
.component-5 .modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.component-5 #overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 20;
}
.component-5 #overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  #restaurant {
    justify-content: space-around;
    height: 70vh;
    padding-bottom: 0;
  }
  #restaurant > h1 {
    font-size: 28px;
  }
  #restaurant > .restaurant-content {
    display: flex;
  }
  #restaurant > .restaurant-content > div {
    width: 50%;
  }
  #restaurant > .restaurant-content > .restaurant-img > img {
    max-width: 105%;
  }
  #restaurant > .restaurant-content > .restaurant-description > p.boxo {
    font-size: 18px;
    line-height: 24px;
  }
  #restaurant > .restaurant-content > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #restaurant > .restaurant-content > div:nth-child(2) > p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  #footer .footer-top > p {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  #footer.footer .footer-top > .footer-title {
    margin-bottom: 15px;
  }
  #footer.footer .footer-top > .footer-title > .footer-logo {
    width: 90px;
    height: auto;
  }
}
footer {
  width: 100%;
  background-color: #4c0027;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
}
footer > .footer-top {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer > .footer-top > .footer-title {
  flex-direction: column;
  align-items: center;
}
footer > .footer-top > .footer-title > .footer-logo {
  width: 65px;
  margin-bottom: 15px;
  height: 62px;
}
footer > .footer-top > .footer-title > h6 {
  text-align: center;
  font-size: 18px;
  color: #8c6b7c;
  margin-bottom: 15px;
}
footer > .footer-top > .footer-title:hover {
  cursor: default;
}
footer > .footer-top > .footer-title:hover > h6 {
  color: white;
  transition: 0.4s;
}
footer > .footer-top > .footer-title:hover > .footer-logo > path {
  fill: white;
  transition: 0.4s;
}
footer > .footer-top > p {
  font-size: 10px;
  color: #8c6b7c;
  text-align: center;
  margin-bottom: 10px;
}
footer > .footer-top > p:last-of-type {
  margin-bottom: 15px;
}
footer .footer-line {
  width: 100%;
  height: 1px;
  background-color: #8c6b7c;
  margin-bottom: 15px;
}
footer ul {
  gap: 20px;
  align-items: center;
  margin-top: 5px;
}
footer ul > a > li {
  list-style-type: none;
}
footer ul > a > li svg {
  width: 29px;
}
footer ul > a > li svg:first-of-type {
  height: 22px;
}
footer ul > a:hover path {
  fill: white;
  transition: 0.4s;
}
footer ul > a .transparent {
  fill: #4c0027;
}
footer ul > a:last-of-type:hover #booking-path {
  fill: white;
  transition: 0.4s;
}
footer ul > a:last-of-type:hover .transparent {
  fill: #4c0027;
}

@media screen and (min-width: 768px) {
  .footer .footer-top > p {
    font-size: 11px;
  }
}

/*# sourceMappingURL=styles.css.map */
